<html>
    <head>
        {{ content_for_header }}

        {%- if settings.favicon != blank -%}
            <link rel='icon' type='image/png' href='{{ settings.favicon | image_url: width: 32, height: 32 }}'>
        {%- endif -%}

        {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
            <link rel='preconnect' href='https://fonts.shopifycdn.com' crossorigin>
        {%- endunless -%}

        <meta name='viewport' content='width=device-width, initial-scale=1.0'>

        {% if page_description %}
            <meta name='description' content='{{ page_description | escape }}'>
        {% endif %}

        {% render 'meta-tags' %}

        <title>
            {{ page_title }}
            {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
            {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
            {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
        </title>

        {%- liquid
            assign body_font_light = settings.body_font | font_modify: 'weight', '300'
            assign body_font_medium = settings.body_font | font_modify: 'weight', '500'
            assign body_font_bold = settings.body_font | font_modify: 'weight', 'bold'
            assign body_font_black = settings.body_font | font_modify: 'weight', '900'
            assign body_font_italic = settings.body_font | font_modify: 'style', 'italic'
        %}

        {% style %}

            {{ settings.body_font | font_face: font_display: 'swap' }}
            {{ body_font_light | font_face: font_display: 'swap' }}
            {{ body_font_medium | font_face: font_display: 'swap' }}
            {{ body_font_bold | font_face: font_display: 'swap' }}
            {{ body_font_black | font_face: font_display: 'swap' }}
            {{ body_font_italic | font_face: font_display: 'swap' }}
            {{ settings.heading_font | font_face: font_display: 'swap' }}            

            :root {
                --base-padding: 10px;
                
                --color-body-text: {{ settings.body_text_color }};
                --color-body-background: {{ settings.body_background_color }};
                --color-body-border: {{ settings.body_border_color }};
                --color-primary: {{ settings.accent_color_primary }};
                --color-secondary: {{ settings.accent_color_secondary }};
                
                --primary-gradient: linear-gradient(to right, var(--color-primary), var(--color-secondary));

                --primary-btn-background-color: {{ settings.primary_btn_bkg_color }};
                --primary-btn-text-color: {{ settings.primary_btn_text_color }};
                --secondary-btn-background-color: {{ settings.secondary_btn_bkg_color }};
                --secondary-btn-text-color: {{ settings.secondary_btn_text_color }};
                --tertiary-btn-background-color: {{ settings.tertiary_btn_bkg_color }};
                --tertiary-btn-text-color: {{ settings.tertiary_btn_text_color }};

                --font-heading-family: {{ settings.heading_font.family }}, {{ settings.heading_font.fallback_families }};
                --font-body-family: {{ settings.body_font.family }}, {{ settings.body_font.fallback_families }};

                --headings-line-height: calc({{ settings.headings_line_height }} / 100);
                --body-line-height: calc({{ settings.body_line_height }} / 100);
                
                --product-card-aspect-ratio: {{ settings.product_card_image_aspect_ratio }};
                --product-card-background-color: {{ settings.product_card_background_color }};
                --product-card-text-color: {{ settings.product_card_text_color }};
            }

        {% endstyle %}

        {{ 'styles.css' | asset_url | stylesheet_tag }}
        {{ 'product-card.css' | asset_url | stylesheet_tag }}
        {{ 'glider.min.css' | asset_url | stylesheet_tag }}
        <script src='{{ 'jquery-3.7.1.min.js' | asset_url }}' defer='defer'></script>
        <script src='{{ 'glider.min.js' | asset_url }}' defer='defer'></script>
    </head>
    <body>
        {% section 'header' %}
        {{ content_for_layout }}

        {% section 'cart-drawer' %}

        <div class="store--loading-wrapper">
            <img
                src="{{ 'loader.gif' | asset_url }}"
                width="40"
                height="40"
                loading="eager"
             />
        </div>
        <script src='{{ 'scripts.js' | asset_url }}' defer='defer'></script>
    </body>
</html>