{{ 'collection.css' | asset_url | stylesheet_tag }}

<style>

  .store--collection {
    background-color: {{ section.settings.collection_header_background_color }};
    padding: {{ section.settings.collection_top_padding }}px 0 {{ section.settings.collection_bottom_padding }}px 0;
  }

  .collection--container {
    max-width: {{ section.settings.collection_container_width }};
  }

  @media (max-width: 540px) {
    .collection--filter-form-container {
        background-color: {{ settings.collection_filters_background_color }};
        color: {{ settings.collection_filters_text_color }};
    }

    .filter-group-display__submit {
      background-color: {{ settings.collection_filters_background_color }};  
    }
  }

</style>

<section id="storeCollection--{{ collection.id }}" class="store--collection">
    <div class="collection--container container">
        <div class="collection--title-wrapper">
          <h1 class="collection--title">{{ collection.title }}</h1>
        </div>
        <div class="collection--product-filtering-sort-wrapper">
          <div class="collection--product-filter-trigger-wrapper">
            <button id="executeOpenCollectionFilters" class="button">
              {% render 'icon-filter' %}
              Filters
            </button>
          </div>
          <div class="collection--filters-wrapper">
            <form class="filter-form">
              <div class="flyout--wrapper collection--filter-form-inner-wrapper">
                <div class="flyout--inner-wrapper collection--filter-form-container">
                  <div class="flyout--title-wrapper collection--filter-form-title-wrapper">
                    <h2 class="flyout--title collection--filter-form-title">Filters</h2>
                    <span class="button badge tertiary execute--collection-filters-close">Close</span>
                  </div>
                  <div class="collection--filter-form-group-wrapper">
                    {%- for filter in collection.filters -%}
                      <details class="filter-group">
                        <summary class="filter-group-summary">
                          <div class="filter-group-title-wrapper">
                            <h3 class="filter-group-title">{{ filter.label }}</h4>

                            {%- if filter.active_values.size > 0 -%}
                              <span class="button badge primary">{{ filter.active_values.size }}</span>
                            {%- endif -%}
                          </div>
                          <div class="button badge fourth">
                            <div class="plus-icon show"> {% render 'icon-plus' %} </div>
                            <div class="minus-icon"> {% render 'icon-minus' %} </div>
                          </div>
                        </summary>

                        <div class="filter-group-display">
                          {%- case filter.type -%}
                            {%- when 'boolean' or 'list' -%}
                              <ul class="filter-group-display__list">
                                {%- for filter_value in filter.values -%}
                                  <li class="filter-group-display__list-item">
                                    <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                                    <input type="checkbox"
                                      name="{{ filter_value.param_name }}"
                                      value="{{ filter_value.value }}"
                                      id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                                      {% if filter_value.active -%}checked{%- endif %}
                                      {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                                    >{{ filter_value.label }}</label>
                                  </li>
                                {%- endfor -%}
                              </ul>
                            {%- when 'price_range' -%}
                              <div class="filter-group-display__price-range">
                                <div class="filter-group-display__price-range-from">
                                  <span>{{ cart.currency.symbol }}</span>

                                  <input name="{{ filter.min_value.param_name }}"
                                    id="Filter-{{ filter.min_value.param_name }}"
                                    {% if filter.min_value.value -%}
                                      value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                                    {%- endif %}
                                    type="number"
                                    placeholder="0"
                                    min="0"
                                    max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                  >

                                  <label for="Filter-{{ filter.min_value.param_name }}">From</label>
                                </div>
                                <div class="filter-group-display__price-range-to">
                                  <span>{{ cart.currency.symbol }}</span>

                                  <input name="{{ filter.max_value.param_name }}"
                                    id="Filter-{{ filter.max_value.param_name }}"
                                    {% if filter.max_value.value -%}
                                      value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                                    {%- endif %}
                                    type="number"
                                    placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                    min="0"
                                    max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                  >

                                  <label for="Filter-{{ filter.max_value.param_name }}">To</label>
                                </div>
                              </div>
                          {%- endcase -%}
                        </div>
                      </details>
                    {%- endfor -%}
                  </div>
                  <div class="filter-group-display__submit">
                    <input class="button action primary" type="submit" value="Apply">
                  </div>
                </div>
              </div>  

              <div class="collection--active-filters-wrapper active-filters">
                {%- for filter in collection.filters -%}
                  {% if filter.active_values.size > 0 %}
                    <a href="{{ collection.url }}?sort_by={{ collection.sort_by }}" class="active-filters__clear button badge tertiary">Clear All Filters</a>
                  {% endif %}
                  {%- if filter.type == "price_range" -%}
                    {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
                      <a class="active-filters__remove-filter" href="{{ filter.url_to_remove }}">
                        {%- assign min_value = filter.min_value.value | default: 0 -%}
                        {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
                        {{ min_value | money }} - {{ max_value | money }} X
                      </a>
                    {%- endif -%}
                  {%- else -%}
                    {%- for filter_value in filter.active_values -%}
                      <a class="active-filters__remove-filter button badge fourth" href="{{ filter_value.url_to_remove }}">
                        {{ filter_value.label }} 
                        <span class="active-filter--remove-icon">X</span>
                      </a>
                    {%- endfor -%}
                  {%- endif- %}
                {%- endfor -%}
              </div>
            </form>
          </div>
        </div>
        <div class="collection--products-wrapper">
          <p class="collection--product-count">{{ collection.products_count }} Products</p>
          {% render 'product-list', product: collection.products, parentWrapper: '.collection--products-wrapper' %}  
        </div>
    </div>
</section>

<script src='{{ 'collection.js' | asset_url }}' defer='defer'></script>

{% schema %}
{
    "name": "Collection Main",
    "settings": [
        {
          "type": "color",
          "id": "collection_header_background_color",
          "label": "Collection Header Background Color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "collection_header_text_color",
          "label": "Collection Header Text Color",
          "default": "#535353"
        },
        {
            "type": "range",
            "id": "collection_top_padding",
            "label": "Collection Top Padding",
            "min": 10,
            "max": 100,
            "step": 10,
            "default": 20,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "collection_bottom_padding",
            "label": "Collection Bottom Padding",
            "min": 10,
            "max": 100,
            "step": 10,
            "default": 20,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "collection_container_width",
            "label": "Collection Container Width",
            "min": 1200,
            "max": 3000,
            "step": 30,
            "default": 1920,
            "unit": "px"
        }
    ]
}
{% endschema %}