{{ 'header.css' | asset_url | stylesheet_tag }}

<style>

  body.body--with-overlay-header .store--header {
    background-color: transparent;
}

  .store--header {
    background-color: {{ section.settings.header_background_color }};
  }

  .store--header {
    padding: {{ section.settings.header_top_padding }}px 0 {{ section.settings.header_bottom_padding }}px 0;
  }

  .header--container {
    max-width: {{ section.settings.header_container_width }};
  }

  .header--menu-inner-wrapper,
  .header--childmenu-items-inner,
  .header--grandchildmenu-items-inner {
      background-color: {{ section.settings.header_menu_background_color }};
      color: {{ section.settings.header_menu_text_color }};
  }

  .header--childmenu-items-inner a,
  .header--grandchildmenu-items-inner a {
      color: {{ section.settings.header_menu_text_color }};
  }

  .header--menu-promotion-wrapper {
    background-image: url('{{ section.settings.menu_promotion_image | image_url }}');
  }

  .header--menu-promotion-title,
  .header--menu-promotion-link-text {
    color: {{ section.settings.header_menu_promotion_text_color }}; 
  }

  .header--menu-item-title,
  .header--second-menu-item-title {
    color: {{ section.settings.header_text_color }}
  }

</style>

<header id="storeHeader" class="store--header">
  <div class="header--container container">
    <div class="header--inner {% if section.settings.header_logo_position == 'left' %} header--inner-left {% elsif section.settings.header_logo_position == 'center' %} header--inner-center {% endif %}">
      <a href="{{ shop.url }}" class="header--logo-wrapper">
        {% if settings.logo_desktop != blank %}
          <img 
            class="header--logo hide-on-mobile"
            src="{{ settings.logo_desktop | image_url }}"
            alt="{{ settings.logo_desktop.alt }}"
            width="{{ settings.logo_desktop_width }}"
            height=""
            loading="eager" />
          <img 
            class="header--logo hide-on-mobile header--overlay-logo"
            src="{{ settings.overlay_logo_desktop | image_url }}"
            alt="{{ settings.overlay_logo_desktop.alt }}"
            width="{{ settings.logo_desktop_width }}"
            height=""
            loading="eager" />  
        {% else %}
          <h1>{{ shop.name | truncate: 30 }}</h1>
        {% endif %}

        {% if settings.logo_mobile != blank %}
          <img 
            class="header--logo hide-on-desktop"
            src="{{ settings.logo_mobile | image_url }}"
            alt="{{ settings.logo_mobile.alt }}"
            width="{{ settings.logo_mobile_width }}"
            height=""
            loading="eager" />
          <img 
            class="header--logo hide-on-desktop header--overlay-logo"
            src="{{ settings.overlay_logo_mobile | image_url }}"
            alt="{{ settings.overlay_logo_mobile.alt }}"
            width="{{ settings.logo_mobile_width }}"
            height=""
            loading="eager" />    
        {% else %}
          <h1>{{ shop.name | truncate: 30 }}</h1>
        {% endif %}
      </a>
      <div class="header--navigation-wrapper">
        <div class="flyout--wrapper header--menu-wrapper">
          <div class="flyout--inner-wrapper header--menu-inner-wrapper">
            <div class="flyout--title-wrapper header--menu-title-wrapper">
              <h2 class="flyout--title header--menu-title">Menu</h2>
              <button id="executeCloseNavigation" class="button badge tertiary">Close</button>
            </div>
            {% if section.settings.enable_promotion == true %}
              <a href="{{ section.settings.menu_promotion_link }}" class="header--menu-promotion-wrapper">
                <div class="header--menu-promotion-content-wrapper">
                  <p class="header--menu-promotion-title">{{ section.settings.menu_promotion_title }}</p>
                  <span class="header--menu-promotion-link-text">{{ section.settings.menu_promotion_link_text }}</span>
                </div>
                <span class="button badge fourth">
                  {% render 'icon-arrow-right' %}
                </span>
              </a>
            {% endif %}
            {% if section.settings.main_menu != blank %}
              <div class="header--menu-items">
                {% for link in section.settings.main_menu.links %}
                  <div class="header--menu-item">
                    <a class="header--menu-item-inner {% if link.links != blank %} header--menu-item-child-menu-trigger{% endif %}" href="{{ link.url }}">
                      <span class="header--menu-item-title">{{ link.title }}</span>
                      {% if link.links != blank %}
                        <span class="button badge fourth">
                          {% render 'icon-arrow-right' %}
                        </span>
                      {% endif %}
                    </a>
                    {% if link.links != blank %}
                      <div class="header--childmenu-items flyout--wrapper">
                        <div class="header--childmenu-items-inner flyout--inner-wrapper">
                          <div class="header--childmenu-title-wrapper flyout--title-wrapper">
                            <a class="header--childmenu-title flyout--title" href="{{ link.url }}">{{ link.title }}</a>
                            <button class="header--menu-back-button button badge fourth">Back</button>
                          </div>
                          {% for childlink in link.links %}
                            <div class="header--menu-item">
                              <a class="header--menu-item-inner {% if childlink.links != blank %} header--menu-item-grandchild-menu-trigger{% endif %}" href="{{ childlink.url }}">
                                <span class="header--menu-item-title">{{ childlink.title }}</span>
                                {% if childlink.links != blank %}
                                  <span class="button badge fourth">
                                    {% render 'icon-arrow-right' %}
                                  </span>
                                {% endif %}
                              </a>
                                {% if childlink.links != blank %}
                                  <div class="header--grandchildmenu-items flyout--wrapper">
                                    <div class="header--grandchildmenu-items-inner flyout--inner-wrapper">
                                      <div class="header--grandchildmenu-title-wrapper flyout--title-wrapper">
                                        <a class="header--grandchildmenu-title flyout--title" href="{{ childlink.url }}">{{ childlink.title }}</a>
                                        <button class="header--menu-back-button button badge fourth">Back</button>
                                      </div>
                                      {% for grandchildlink in childlink.links %}
                                        <div class="header--menu-item">
                                          <a class="header--menu-item-inner" href="{{ grandchildlink.url }}">
                                            <span class="header--menu-item-title">{{ grandchildlink.title }}</span>
                                            {% if grandchildlink.links != blank %}
                                              <span class="button badge fourth">
                                                {% render 'icon-arrow-right' %}
                                              </span>
                                            {% endif %}
                                          </a>
                                        </div>  
                                      {% endfor %}
                                    </div>
                                  </div>
                                {% endif %}
                            </div>  
                          {% endfor %}
                        </div>
                      </div>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            {% if section.settings.second_menu_mobile != blank %}
              <div class="header--second-menu-items">
                {% for link in section.settings.second_menu_mobile.links %}
                  <div class="header--second-menu-item">
                    <a class="header--second-menu-item-inner" href="{{ link.url }}">
                      <span class="header--second-menu-item-title">{{ link.title }}</span>
                    </a>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
        <button id="executeOpenNavigation" class="button badge tertiary">Menu</button>
        <button id="executeOpenCartDrawer" class="button badge primary">
          {% render 'icon-shopping-bag' %} 
          {% if cart.item_count > 0 %}
            <span>{{ cart.item_count }}</span>
          {% endif %}
        </button>
      </div>
    </div>
  </div>
</header>

<script src="{{ 'header.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "color",
      "id": "header_background_color",
      "label": "Header Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "header_text_color",
      "label": "Header Text Color",
      "default": "#535353"
    },
    {
      "type": "range",
      "id": "header_top_padding",
      "label": "Header Top Padding",
      "min": 10,
      "max": 100,
      "step": 10,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "header_bottom_padding",
      "label": "Header Bottom Padding",
      "min": 10,
      "max": 100,
      "step": 10,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "header_container_width",
      "label": "Header Container Width",
      "min": 1200,
      "max": 3000,
      "step": 30,
      "default": 1920,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "header_logo_position",
      "label": "Header Logo Position",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        }
      ],
      "default": "left"
    },
    {
      "type": "color",
      "id": "header_menu_background_color",
      "label": "Header Menu Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "header_menu_text_color",
      "label": "Header Menu Text Color",
      "default": "#535353"
    },
    {
      "type": "checkbox",
      "id": "enable_promotion",
      "label": "Enable In Menu Promotion",
      "default": true
    },
    {
      "type": "color",
      "id": "header_menu_promotion_text_color",
      "label": "Header Menu Promotion Text Color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "menu_promotion_title",
      "label": "Menu Promotion Title"
    },
    {
      "type": "url",
      "id": "menu_promotion_link",
      "label": "Menu Promotion Link"
    },
    {
      "type": "text",
      "id": "menu_promotion_link_text",
      "label": "Menu Promotion Link Text"
    },
    {
      "type": "image_picker",
      "id": "menu_promotion_image",
      "label": "Menu Promotion Image"
    },
    {
      "type": "link_list",
      "id": "main_menu",
      "label": "Main Menu"
    },
    {
      "type": "link_list",
      "id": "second_menu_mobile",
      "label": "Second Menu",
      "info": "This menu will only appear on mobile. Please note this menu will not support secondary level items."
    }
  ]
}
{% endschema %}