{{ 'large-text-image.css' | asset_url | stylesheet_tag }}

{% if product.metafields.custom.product_primary_color != blank %}
    {% capture primaryColor %}
        #sectionLargeTextImage-{{ section.id }} {
            --color-new-primary: {{ product.metafields.custom.product_primary_color }};
        }
    {% endcapture %}
{% elsif section.settings.large_text_image_primary_color != blank %}
    {% capture primaryColor %}
        #sectionLargeTextImage-{{ section.id }} {
            --color-new-primary: {{ section.settings.large_text_image_primary_color }};
        }
    {% endcapture %}
{% endif %}

{% if product.metafields.custom.product_secondary_color != blank %}
    {% capture secondaryColor %}
        #sectionLargeTextImage-{{ section.id }} {
            --color-new-secondary: {{ product.metafields.custom.product_secondary_color }};
        }
    {% endcapture %}
{% elsif section.settings.large_text_image_secondary_color != blank %}
    {% capture secondaryColor %}
        #sectionLargeTextImage-{{ section.id }} {
            --color-new-secondary: {{ section.settings.large_text_image_secondary_color }};
        }
    {% endcapture %}
{% endif %}

<style>
    {{ primaryColor }}
    {{ secondaryColor }}

    #sectionLargeTextImage-{{ section.id }} {
        --new-primary-gradient: linear-gradient(to right, var(--color-new-primary), var(--color-new-secondary));
    }

    #sectionLargeTextImage-{{ section.id }} .large-text-image--item-title {
        color: var(--color-new-primary);
    }

    #sectionLargeTextImage-{{ section.id }} .large-text-image--item-title .primary-color {
        color: var(--color-new-primary);
    }

    #sectionLargeTextImage-{{ section.id }} .large-text-image--item-title .secondary-color {
        color: var(--color-new-secondary);
    }

    #sectionLargeTextImage-{{ section.id }} .large-text-image--item-image {
        width: {{ section.settings.large_text_image_width }}%;
    }

    #sectionLargeTextImage-{{ section.id }} .large-text-image--item-title {
        transform: translateY({{ section.settings.large_text_image_title_y_offset }}%);
    }

    @media (max-width: 540px) {
        {% comment %} Setting 0 for side padding here because of the slider {% endcomment %}
        #sectionLargeTextImage-{{ section.id }}.section--large-text-image {
            padding: {{ section.settings.large_text_image_top_padding }} 0 {{ section.settings.accordion_bottom_padding }} 0;
        }

        #sectionLargeTextImage-{{ section.id }} .large-text-image--item-title {
            font-size: {{ section.settings.large_text_image_title_size_mobile | divided_by: 100 }}rem;
        }
    }

    @media (min-width: 540px) {
        #sectionLargeTextImage-{{ section.id }} .large-text-image--container {
            max-width: {{ section.settings.large_text_image_container_width }}px;
        }
    }
</style>

<section id="sectionLargeTextImage-{{ section.id }}" class="section--large-text-image">
    <div class="large-text-image--container container">
        <div class="large-text-image--inner-wrapper">

            <div class="large-text-image--item-wrapper">
                {% if section.settings.large_text_image_title != blank %}
                    <div class="large-text-image--item-title-wrapper">
                        {% if section.settings.enable_split_color == true %}
                            {%- liquid 
                                assign title = section.settings.large_text_image_title
                                
                                # Find the position of the first space character in the title
                                assign space_position = title | split: ' ' | first | size
                                
                                # Split the title at the first space position
                                assign firstHalf = title | slice: 0, space_position
                                assign secondHalf = title | slice: space_position, title.size
                            %}

                            <h2 class="large-text-image--item-title">
                                <span class="primary-color">{{ firstHalf }}</span>
                                <span class="secondary-color">{{ secondHalf }}</span>
                            </h2>
                        {% else %}
                            <h2 class="large-text-image--item-title">{{ section.settings.large_text_image_title }}</h2>
                        {% endif %}
                    </div>
                {% endif %}
                {% if section.settings.large_text_image != blank %}
                    <div class="large-text-image--item-image-wrapper">
                        <img
                            class="large-text-image--item-image"
                            src="{{ section.settings.large_text_image | image_url }}"
                            width=""
                            height=""
                            loading="eager"
                        />
                    </div>
                {% endif %}
                {% if section.blocks != blank %}
                    <div class="large-text-image--item-additional-content-wrapper">
                        {% for block in section.blocks %}
                            <div id="blockLargeTextImage-{{ block.id }}" class="large-text-image--additional-content-item-wrapper">
                                <style>
                                    {% if product.metafields.custom.product_primary_color != blank %} 
                                        #blockLargeTextImage-{{ block.id }} {
                                            --color-new-primary: {{ product.metafields.custom.product_primary_color }};
                                        }
                                    {% elsif block.settings.additional_content_block_primary_color != blank %}
                                        #blockLargeTextImage-{{ block.id }} {
                                            --color-new-primary: {{ block.settings.additional_content_block_primary_color }};
                                        }
                                    {% endif %}

                                    {% if product.metafields.custom.product_secondary_color != blank %}
                                        #blockLargeTextImage-{{ block.id }} {
                                            --color-new-secondary: {{ product.metafields.custom.product_secondary_color }};
                                        }
                                    {% elsif block.settings.additional_content_block_secondary_color != blank %}
                                        #blockLargeTextImage-{{ block.id }} {
                                            --color-new-secondary: {{ block.settings.additional_content_block_secondary_color }};
                                        }
                                    {% endif %}             

                                    #blockLargeTextImage-{{ block.id }}.large-text-image--additional-content-item-wrapper img,
                                    #blockLargeTextImage-{{ block.id }}.large-text-image--additional-content-item-wrapper svg {
                                        width: {{ block.settings.additional_content_image_width }}%;
                                    }

                                    #blockLargeTextImage-{{ block.id }}.large-text-image--additional-content-item-wrapper:nth-child(even) .large-text-image--additional-content-item-content-title,
                                    #blockLargeTextImage-{{ block.id }}.large-text-image--additional-content-item-wrapper:nth-child(even) .large-text-image--additional-content-item-content-main {
                                        color: var(--color-new-primary);
                                    }

                                    #blockLargeTextImage-{{ block.id }}.large-text-image--additional-content-item-wrapper:nth-child(even) svg path {
                                        fill: var(--color-new-primary);
                                    }

                                    #blockLargeTextImage-{{ block.id }}.large-text-image--additional-content-item-wrapper:nth-child(odd) .large-text-image--additional-content-item-content-title,
                                    #blockLargeTextImage-{{ block.id }}.large-text-image--additional-content-item-wrapper:nth-child(odd) .large-text-image--additional-content-item-content-main {
                                        color: var(--color-new-secondary);
                                    }

                                    #blockLargeTextImage-{{ block.id }}.large-text-image--additional-content-item-wrapper:nth-child(odd) svg path {
                                        fill: var(--color-new-secondary);
                                    }
                                </style>
                                {% if block.settings.additional_content_image_or_svg == 'icon' %}
                                    {% if block.settings.additional_content_icon != blank %}
                                        {% assign icon = block.settings.additional_content_icon %}
                                        {% render 'icon' with icon %}
                                    {% endif %}
                                {% else %}
                                    {% if block.settings.additional_content_image != blank %}
                                        <img
                                            class="large-text-image--item-image"
                                            src="{{ block.settings.additional_content_image | image_url }}"
                                            width=""
                                            height=""
                                            loading="eager"
                                        />
                                    {% endif %}
                                {% endif %}
                                {% if block.settings.additional_content_title != blank or block.settings.additional_content != blank %}
                                    <div class="large-text-image--additional-content-item-content">
                                        {% if block.settings.additional_content_title != blank %}
                                            <p class="large-text-image--additional-content-item-content-title">{{ block.settings.additional_content_title }}</p>
                                        {% endif %}
                                        {% if block.settings.additional_content != blank %}
                                            <p class="large-text-image--additional-content-item-content-main">{{ block.settings.additional_content }}</p>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% if section.settings.include_on_page_section_slider == true %}
    <script>
        document.querySelector('#sectionLargeTextImage-{{ section.id }}').parentNode.dataset.slider = "{{ section.settings.page_section_slider_id }}";
    </script>
{% endif %}

{% schema %}

{
    "name": "Large Text Image Section",
    "settings": [
        {
            "type": "checkbox",
            "id": "include_on_page_section_slider",
            "label": "Include Section on Page Section Slider",
            "info": "Please specify below which slider you want this to be included on",
            "default": true
        },
        {
            "type": "text",
            "id": "page_section_slider_id",
            "label": "Page Section Slider ID",
            "info": "All sections with this ID will be added to the respective page section slider",
            "default": "ingredients"
        },
        {
            "type": "range",
            "id": "large_text_image_top_padding",
            "label": "Large Text Image Top Padding",
            "min": 10,
            "max": 100,
            "step": 10,
            "default": 20,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "large_text_image_bottom_padding",
            "label": "Large Text Image Bottom Padding",
            "min": 10,
            "max": 100,
            "step": 10,
            "default": 20,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "large_text_image_container_width",
            "label": "Large Text Image Container Width",
            "info": "Please note this will only affect the styles when on a desktop device. The size is optimised for mobile by default",
            "min": 1200,
            "max": 3000,
            "step": 30,
            "default": 1920,
            "unit": "px"
        },
        {
            "type": "color",
            "id": "large_text_image_primary_color",
            "label": "Section Primary Color",
            "default": "#72219b"
        },
        {
            "type": "color",
            "id": "large_text_image_primary_text_color",
            "label": "Section Primary Text Color",
            "default": "#ffffff"
        },
        {
            "type": "color",
            "id": "large_text_image_secondary_color",
            "label": "Section Secondary Color",
            "default": "#CC5646"
        },
        {
            "type": "checkbox",
            "id": "enable_split_color",
            "label": "Enable Split Color Title",
            "default": true
        },
        {
            "type": "text",
            "id": "large_text_image_title",
            "label": "Title"
        },
        {
            "type": "range",
            "id": "large_text_image_title_size_mobile",
            "label": "Title Mobile Font Size",
            "min": 100,
            "max": 600,
            "step": 10,
            "default": 500,
            "unit": "%"
        },
        {
            "type": "range",
            "id": "large_text_image_title_size_desktop",
            "label": "Title Desktop Font Size",
            "min": 100,
            "max": 800,
            "step": 10,
            "default": 700,
            "unit": "%"
        },
        {
            "type": "range",
            "id": "large_text_image_title_y_offset",
            "label": "Title y-axis Offset",
            "min": 0,
            "max": 100,
            "step": 2,
            "default": 30,
            "unit": "%"
        },
        {
            "type": "image_picker",
            "id": "large_text_image",
            "label": "Image"
        },
        {
            "type": "range",
            "id": "large_text_image_width",
            "label": "Image Width",
            "min": 10,
            "max": 200,
            "step": 10,
            "default": 100,
            "unit": "%"
        }
    ],
    "blocks": [
        {
            "name": "Additional Content Block",
            "type": "text",
            "settings": [
                {
                    "type": "color",
                    "id": "additional_content_block_primary_color",
                    "label": "Block Primary Color",
                    "default": "#72219b"
                },
                {
                    "type": "color",
                    "id": "additional_content_block_secondary_color",
                    "label": "Block Secondary Color",
                    "default": "#CC5646"
                },
                {
                    "type": "select",
                    "id": "additional_content_image_or_svg",
                    "label": "Use icon or image",
                    "options": [
                        {
                            "value": "icon",
                            "label": "Icon"
                        },
                        {
                            "value": "image",
                            "label": "Image"
                        }
                    ],
                    "default": "icon"
                },
                {
                    "type": "select",
                    "id": "additional_content_icon",
                    "label": "Icon",
                    "options": [
                        {
                            "value": "ginseng",
                            "label": "Ginseng Icon"
                        },
                        {
                            "value": "carnitine",
                            "label": "Carnitine Icon"
                        },
                        {
                            "value": "chamomile",
                            "label": "Chamomile Icon"
                        },
                        {
                            "value": "cherry",
                            "label": "Cherry Icon"
                        },
                        {
                            "value": "lionsmane",
                            "label": "Lion's Mane Icon"
                        }
                    ],
                    "default": "lionsmane"
                },
                {
                    "type": "image_picker",
                    "id": "additional_content_image",
                    "label": "Image"
                },
                {
                    "type": "range",
                    "id": "additional_content_image_width",
                    "label": "Image Width",
                    "min": 1,
                    "max": 100,
                    "step": 1,
                    "default": 25,
                    "unit": "%"
                },
                {
                    "type": "text",
                    "id": "additional_content_title",
                    "label": "Additional Content Block Title"
                },
                {
                    "type": "text",
                    "id": "additional_content",
                    "label": "Additional Content"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Large Text Image Section"
        }
    ]
}

{% endschema %}