{%- liquid 
    assign product_form_id = 'product-form-' | append: section.id
%}

{%- form 'product', product,
    id: product_form_id,
    class: 'product--form',
    novalidate: 'novalidate',
    data-type: 'add-to-cart-form'
-%}


    {% comment %} <select name="id">
        {% for variant in product.variants %}
            <option value="{{ variant.id }}" {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}>
                {{ variant.title }} - {{ variant.price | money }}
            </option>
        {% endfor %}
    </select> {% endcomment %}

    {% unless product.has_only_default_variant %}
        {% for option in product.options_with_values %}
            {{ option.name }}

            {% for value in option.values %}
                <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                    name="{{ option.name }}"
                    value="{{ value | escape }}"
                    form="{{ product_form_id }}"
                    {% if option.selected_value == value %}checked{% endif %}
                >
                <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                    {{ value }}
                </label>
            {% endfor %}
        {% endfor %}
    {% endunless %}

    <input type="text" name="quantity" min="1" value="1">

    <input
        type="hidden"
        name="id"
        value="{{ product.selected_or_first_available_variant.id }}"
        disabled
        class="product-variant-id"
    >

    <button type="submit" name="add">Add to Cart</button>

{% endform %}

{% schema %}
{
  "name": "Product Main"
}
{% endschema %}